.header {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 55px;
  left: 0;
  padding: 15px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(/src/image/fon-movies.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 99999;
}

.nav {
  padding: 10px 20px;
}

.list {
  list-style: none;
  display: flex;
  column-gap: 125px;
}

.link {
  text-decoration: none;
  color: #f76707;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: rgb(43, 255, 1, 0.8);
}

.active {
  color: #f76707;
  font-weight: 600;
  border-bottom: 2px solid #f76707;
}
